*.pbxproj binary
*.c diff=cpp
*.h diff=cpp
*.cpp diff=cpp
*.hpp diff=cpp
*.c++ diff=cpp
*.h++ diff=cpp
*.cc diff=cpp
*.hh diff=cpp
*.cs diff=csharp
*.css diff=css
*.ex diff=elixir
*.exs diff=elixir
*.el diff=lisp
*.go diff=golang
*.html diff=html
*.xhtml diff=html
*.java diff=java
*.lisp diff=lisp
*.php diff=php
*.pl diff=perl
*.py diff=python
*.md diff=markdown
*.rake diff=ruby
*.rb diff=ruby
*.rs diff=rust
