[user]
  name  = Paul Schoenfelder
  email = paulschoenfelder@gmail.com

[credential]
  helper = osxkeychain

[core]
  editor       = vim
  excludesfile = ~/.gitignore_global
  autocrlf     = input

[commit]
  template = $HOME/.gitmessage.txt

[push]
  default = current

[github]
  user = bitwalker

[alias]
  co           = checkout
  ll           = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  rmdead       = !git-ls-files --deleted | xargs git rm
  s            = status
  submodsync   = !git-pull --recurse-submodules && git submodule update --recursive

[color]
  ui = true

[color "diff"]
  meta = blue bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "branch"]
  current = yellow reverse
  local   = yellow bold
  remote  = green bold
  plain   = red bold

[color "status"]
  added     = yellow
  changed   = green bold
  untracked = blue bold

[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false
[merge]
  tool = Kaleidoscope
[mergetool]
  prompt = false
  keepBackup = false

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
