[user]
  name = Paul Schoenfelder
  email = paulschoenfelder@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = input

[push]
  default = current

[github]
  user = bitwalker

[alias]
  ll           = log --pretty=oneline --abbrev-commit --max-count=15
  rmdead       = !git-ls-files --deleted | xargs git rm
  s            = status
  submodsync   = !git-pull --recurse-submodules && git submodule update --recursive

[color]
  ui = auto

[color "diff"]
  meta = blue bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "branch"]
  current = yellow reverse
  local   = yellow bold
  remote  = green bold
  plain   = red bold

[color "status"]
  added     = yellow
  changed   = green bold
  untracked = blue bold

[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false
[merge]
  tool = Kaleidoscope
[mergetool]
  prompt = false
  keepBackup = false

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
