.netrwhist
.config/fish/fish_history
.config/fish/fishd.*
.config/direnv/allow
.vim/bundle
.vim/init.vim
.local/share/fish/generated_completions
.local/share/letsencrypt
.local/share/fish/fish_history
*.elc
