.netrwhist
.config/beets/*.pickle
.config/fish/fish_history
.config/fish/fishd.*
.config/fish/fish_variables
.config/direnv/allow
.config/brew/API_TOKEN
.config/pgcli/log
.vim/bundle
.vim/init.vim
.local/share/fish/generated_completions
.local/share/letsencrypt
.local/share/fish/fish_history
*.elc
